<%= form_for @task do |f| %>
  <p>
    <%= f.label :description%>
    <%= f.text_area :description%>
  </p>
  <p>
    <%= f.label :priority%>
    <%= f.number_field :priority%>
..</p>
  <p>
    <%= f.submit%> 
  </p>
  <% if @task.errors.any?%>
    <h2>there were errors!</h2>
    <ul>
      <% @task.errors.full_messages.each do |msg|%>
      <li><%= msg%></li>
      <%end%>
    </ul>
  <%end%>
<%end%>
